body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

.header{
    background-color: white;
    height: 67px;
}
.navbar-brand{
    margin: 0 35px 0 0;
    

}
.navbar-nav{

}

.searcher{
    position: relative; 
    left: 200px;    
    width: 500px;
}

.search-box{
    margin-right: 10px;
}
.profile1{
    position: absolute;
    /* left: 1100px; */
    right: 50px;

}

.profile2{
    position: absolute;
    /* left: 1150px; */
    right: 20px;
}
.fa-solid{
    font-size: 25px;
}
.text-center{
    width:100%;
}


.text-center{
    margin-left: 0px;
    margin-right: 0px;
}
.colounm{
    height: 740px;
}
.side-bar{
    background-color: #007bff;
}

.offcanvas-body{
    text-align: left;
}

.sidar-ul{
    padding-left: 0px;
}

li{
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 10px;

    
}
.sider-a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.sider-icon{
    font-size: 15px;
}

.sider-a:hover{
    text-decoration: none;
    color: white;

}


/* --------------------------lists------------ */

.detail-cont{
    margin: 20px 10px;
}

.name-row{
    background: white;
    border-radius: 10px;
}

.detial-col{
    height: 600px;
}

img{
    margin: 20px 20px 10px 20px;
    width: 25%;
}
.phone-user{
    font-size: 12px;
}

.name-user:hover{
    text-decoration: none;
    color: black;
}
.name-user{
    color: black;
    font-size: 20px;
    font-weight: 600;
}



.ac-cont{
    margin-top: 20px;

}

.ac-row{
    background: #eeeeee;
}
.ac-col{
    height: 40px;
}

.ac{
    font-size: 10px;
    margin-bottom: 0px;
}
.ac-no{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.ac-no:hover{
    text-decoration: none;
    color: black;
}
.ac-section{
    text-align: left;
}

.icon-edit{
    text-align: right;
}
.btn-edit{
    margin: 12px;
    padding: 0px 5px;
    font-size: 10px;
}


.ac-row1{
    text-align: left;
}

.icons-det{
    font-size: 10px;

}

.ac-no1{
    color: black;
    font-size: 11px;
}

.ac-no1:hover{
    text-decoration: none;
    color: black;
}





/* -------------------------------transaction------------- */


.transcation-side{
    border-left: 1px solid black;
}


.enter-detail{
    text-align: left;
    margin-bottom: 5px;
}


.br-result{
    /* margin-top: 50px; */
    border: 1px solid blue;
    border-radius: 10px;
}
.result-out{
    /* border: 2px solid #EB455F; */
}

.result-out-row{
    text-align: left;
}
.amt{
    text-align: right;
}

.fa-calendar{
    font-size: 15px;
}

.result-text{
    color: #007bff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.result-out-col{
    margin-top: 20px;
    height: 40px;

}

.time-cont{
    margin-top: 20px;
}


.hr-r{
    margin: 0;
}
